/* content */
.error-message{
  color: red;
}
.success-message{
  color: green;
}

.share-buttons{
  list-style: none;
}

.twitter-share-button{ 
  vertical-align: middle;
}

.fb-share-button{ 
  vertical-align: middle;
}

.rss-btn {
  height:28px;
  width:28px;
  background-image:url(../images/rss-icon.png);
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.hb-modal-sm{
  padding: 20px;
  color: green;
  cursor: pointer;
}

.rss-modal{
  padding: 20px;
  color: green;
}

.post-link{
  color: #CC9900;
}
.post-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.jumbotron.home {
  background: url("../../images/homepage.png") no-repeat center center;
  width:100%;
  height: 50vh;
  min-height: 300px;
}

.home > h1 {
  color: white;
  top: 25vh;
  text-align: left;
  margin-left: 15%;
  padding-top: 100px;
  font-weight: lighter;
}

.home > p {
  color: white;
  text-align: left;
  margin-left: 15%;
}

.front-page {
  padding-left: 250px;
  transition: all 0.5s ease;
  width: 100%;
}

.front-page .toggle-menu {
  padding-left: 0px;
}

#wrapper {
  width: 100%;
}

#sidebar-toggle {
  position: fixed;
  top:50%;
  left:225px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1000000;
  background: url('../images/arrow.png');
  background-size: cover;
  transition: all 0.5s ease;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

#sidebar-toggle.toggle-menu{
  left: -25px;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */

}

.jumbotron > h2 {
  font-weight: lighter;
  font-style: normal;
}

.jumbotron-partial > h2{
  font-weight: lighter;
  font-style: normal;
}

.jumbotron-partial {
  padding: 30px;
  padding-bottom: 0px;
  font-weight: lighter;
}

.jumbotron{
  color: black;
  padding: 30px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background: transparent;
}

/*sidebar */
.sidebar {
  position: fixed;
  bottom: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: url('../images/imgSidebar.jpg');
  z-index: 1000;
  width: 0;
  height: 100%;
  overflow-y: auto;
  transition: all 0.5s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);  
  moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar.toggle-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('../images/imgSidebar.jpg');
}

.sidebar ul{
  z-index: 1000;
  height: auto;
  padding-top: 20px;
}

.sidebar li {
  z-index: 999;
  text-indent: 20px;
  line-height: 50px;
  color: black;
}

.sidebar-nav li a{
  color: black;
}

.sidebar img{
  z-index: 0;
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar-nav > li > a:hover{
  font-style: underline;
}

.sidebar p {
  color: black;
}

.sidebar> .sidebar-brand a {
    color: #999999;
}

.sidebar > .sidebar-brand a:hover {
    color: black;
    background: none;
}

/* blog posts */
.blog-posts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-posts > h3 {
  font-weight: lighter;
}

.blog-subject {
  background: #E6F9FF;
  width: 100%;
  border-radius: 10px;
}

.blog-subject > h3 {
  padding: 10px;
  font-weight: lighter;
}

.blog-feed {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

/* About section */

/* centrally aligning unknown contents in a div */
.person-container {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 15px;
  vertical-align: middle;
}

.circular {
  margin: auto;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);  
}

/* Form class */
.help-block > p {
  color: red;
}

/* Auth controls */

.auth {
	display: inline-block;
	margin: auto;
	padding: 30px;
}

h1 {
  font-size: 3.25vw;
  font-weight: lighter;
}
h2 {
  font-size: 2.5vw;
  font-weight: lighter;
}
h3 {
  font-size: 2vw;
  font-weight: lighter;
}
p {
  font-size: 1.25vw;
  font-weight: lighter;
}


@media(max-width:1450px) {
  h1 {
    font-size: 4vw;
    font-weight: lighter;
  }
  h2 {
    font-size: 3vw;
    font-weight: lighter;
  }
  h3 {
    font-size: 2.5vw;
    font-weight: lighter;
  }
  p {
    font-size: 1.5vw;
    font-weight: lighter;
  }
}

@media(min-width:768px) {
    .front-page {
      padding-left: 250px;
    }

    .front-page.toggle-menu {
      padding-left: 0px;
      position: absolute;
      left: 0;
    }

    .sidebar {
      width: 250px;
    }

    .sidebar.toggle-menu {
      width: 0px;
    }
}



@media(max-width:767px) {
  /* prevent horizontal scrolling */
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

   h1 {
    font-size: 3em;
   }

   h2 {
    font-size: 2em;
   }

   h3 {
    font-size: 1.5em;
   }

   p {
    font-size: 1em;
   }

  .jumbotron.home {
    width:100%;
    min-height: 300px;
    background: url("../../images/homepage.png") no-repeat center center;
  }

  .home > h1 {
    color: white;
    text-align: left;
    margin-left: 15%;
    padding-top: 50px;
    font-weight: lighter;
  }

  .home > p {
    color: white;
    text-align: left;
    margin-left: 15%;
  }

  .circular {
    margin: auto;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);  
  }

.person-container {
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle;
}

  .front-page {
      padding-left: 0px;
  }

  .front-page.toggle-menu {
      padding-left: 0px;
  }

  .sidebar {
      width: 0px;
  }

  .sidebar.toggle-menu{
      width: 250px
  }

  #sidebar-toggle{
      left: -25px;
      transform: rotate(360deg);
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  }

  #sidebar-toggle.toggle-menu{
      left: 225px;
      transform: rotate(180deg);
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  }
}