<!-- Insert post view -->
<!-- wysihtml5 parser rules -->
<div>
  <div class="row">
    <div class="jumbotron col-md-10 col-xs-offset-1 text-center">
      <h2>Add a New Post</h2>
      <hr>
    </div>
  </div>
  <form novalidate class="simple-form" name="postForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <label for="subject">Subject</label>
          <input type="text" name="subject" ng-model="post.subject" 
                 class="form-control" id="subject"
                 required>
           <div class="help-block" 
                ng-messages="postForm.subject.$error" 
                ng-if="postForm.subject.$touched">
              <p ng-message="required">Please enter a subject</p>
           </div>
        </div>
      </div>
      <div class="clear-fix"></div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <label for="body">Body</label>
          <textarea class="form-control" ng-model="post.body"
                    rows="10" id="body"
                    name="body"
                    required></textarea>
          <div class="help-block" 
                ng-messages="postForm.body.$error" 
                ng-if="postForm.body.$touched">
              <p ng-message="required">Please enter a body</p>
           </div>
        </div>
      </div>
      <div class="clear-fix"></div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <label for="sel1">Blog Type</label>
          <select class="form-control" id="sel1"
                  ng-model="post.blogId"
                  ng-options="b.Type for b in blogTypes track by b.ID"
                  required>
          </select>
        </div>
      </div>
      <div class="clear-fix"></div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-group">
          <input type="submit" ng-click="submit(post)" 
                  value="Submit" class="btn btn-primary"
                  ng-disabled="postForm.$invalid"
                  name="blogType" />
        </div>
      </div>
    </div>
  </form>
</div>

