<div class="text-left blog-posts">
  <div ng-repeat="post in type">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-10 col-xs-offset-1">
    			<div class="blog-subject">
    			  <h3>{{post.Subject}}</h3>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p style="float:right;">{{post.name}} | {{post.PostDate | date: 'medium'}}</p>
        </div>
      </div>
      <div class="row">
        <div data-ng-bind-html="post.Body" class="col-xs-10 col-xs-offset-1">
        </div>
      </div>
    </div>
  </div>
</div>