<div class="text-left blog-posts">
  <div ng-repeat="post in type">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="blog-subject"
               ng-click="$parent.postClicked(post)"
               style="cursor: pointer;">
            <a style="text-decoration: none; color: black;" ng-click="$parent.postClicked(post)">
              <h3 style="padding: 10px;">{{post.Subject}}</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <span style="padding-bottom: 15px; float:right;">{{post.name}} | {{post.PostDate | date: 'medium'}}</span>
        </div>
      </div>
      <div class="row">
        <div ta-bind ng-model="post.Body" class="col-xs-12 col-md-10 col-md-offset-1">
        </div>
      </div>
      <div class="row">
        <div class="post-link col-xs-12 cold-md-10 col-md-offset-1"
               ng-click="$parent.postClicked(post)"
               ng-if="preview || $parent.preview">
            Read the full article here...
        </div>
      </div>
    </div>
  </div>
</div>