<div class="text-left blog-posts">
  <div ng-repeat="post in type">
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12 col-md-10 col-md-offset-1">
    			<div class="blog-subject"
               ng-click="$parent.postClicked(post)"
               style="cursor: pointer;">
    			  <h3>{{post.Subject}}</h3>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <span style="float:right;">{{post.name}} | {{post.PostDate | date: 'medium'}}</span>
        </div>
      </div>
      <div class="row">
        <div data-ng-bind-html="post.Body" class="col-xs-12 col-md-10 col-md-offset-1">
        </div>
      </div>
    </div>
  </div>
</div>